---
import classNames from "classnames";
---

<script>
  import { atom } from "nanostores";
  const $animationFrame = atom("0");
  const uid = crypto.randomUUID();
  console.log("blog-header uid", uid);
  const start = performance.now();
  const frames = ["1", "2", "3"];
  const duration = 800; // Duración de la animación en milisegundos
  const selectFrame = () => {
    const now = performance.now();
    const elapsed = now - start;
    const frameIndex = Math.floor(elapsed / duration);
    const frame = frames[frameIndex % frames.length];
    $animationFrame.set(frame);
    requestAnimationFrame(selectFrame);
  };
  requestAnimationFrame(selectFrame);

  class HeaderAnimation extends HTMLElement {
    unsubscribeRefreshAnimationFrame: null | (() => void) = null;

    setup(header: HTMLElement) {
      header.dataset.animationFrame = $animationFrame.get();
      this.unsubscribeRefreshAnimationFrame = $animationFrame.subscribe(
        (frame) => {
          header.dataset.animationFrame = frame;
        },
      );
    }

    connectedCallback() {
      const header = this.querySelector("header");
      if (header) setTimeout(() => this.setup(header), 100);
    }

    disconnectedCallback() {
      this.unsubscribeRefreshAnimationFrame?.();
    }
  }

  customElements.define("header-animation", HeaderAnimation);
</script>

<header-animation>
  <header transition:name="header" class="px-4 py-4 group">
    <a
      href="/"
      aria-label="Ir al inicio"
      class="logo-link inline-block"
      transition:name="symbol-accent"
    >
      <div
        class="logo-icon w-8 h-8 relative [--tw-duration:1s] transition-opacity group-[:not(:hover)]:opacity-30 group-hover:opacity-100"
      >
        <div
          class={classNames(
            "[--tw-duration:1s]",
            "absolute",
            "transition-all",
            "inset-0",
            "bg-[#A38CE2]",
            "rounded-sm",
            "rotate-50",
            "translate-y-0",
            "translate-x-0",
            "group-[:not(:hover)]:rotate-50",
            "group-[:not(:hover)]:translate-y-40",
            "group-[:not(:hover)]:-translate-x-4",
            "group-[:not(:hover)]:[--tw-duration:2s]",
            "group-[:not(:hover)]:group-data-[animation-frame='1']:rotate-90",
          )}
        >
        </div>
        <div
          class={classNames(
            "[--tw-duration:1s]",
            "absolute",
            "transition-all",
            "inset-1",
            "bg-[#B59FF2]",
            "rounded-sm",
            "rotate-50",
            "translate-x-3",
            "-translate-y-1",
            "group-[:not(:hover)]:rotate-50",
            "group-[:not(:hover)]:translate-y-0",
            "group-[:not(:hover)]:translate-x-8",
            "group-[:not(:hover)]:group-data-[animation-frame='1']:rotate-90",
          )}
        >
        </div>
        <div
          class={classNames(
            "[--tw-duration:1s]",
            "absolute",
            "transition-all",
            "inset-1",
            "bg-[#BDAAF2]",
            "rounded-sm",
            "rotate-50",
            "translate-x-1",
            "translate-y-1",
            "group-[:not(:hover)]:rotate-50",
            "group-[:not(:hover)]:-translate-y-6",
            "group-[:not(:hover)]:translate-x-80",
            "group-[:not(:hover)]:group-data-[animation-frame='2']:rotate-10",
            // "group-[:not(:hover)]:group-data-[animation-frame='3']:translate-x-0",
          )}
        >
        </div>
      </div>
    </a>
  </header>
</header-animation>
